.validationError{
    // padding: 10px 0px 0px 12px;
    color: #a00b1e;
  
    font-size: small;
    font-weight: bold;
}

.background-red{
    background: #ff000040;
    border-bottom: 1px solid red;
}
.dNone{
    display: none;
}

.hideFormGroup{
    display: none;
}
.showFormGroup{
    display: block;
}
